#result1, #result2, #result3, #result4, #result4, #result5, #result6, #result7, #result8, #result9, #result10, #result11, #result12 {
  display: none;
}


body {
  margin: 10px;
    font-family: "Open Sans", Sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: 300;
    letter-spacing: 0.4px;
    font-family: "Open Sans", Sans-serif;
    color: #091c07;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
	line-height: 23px;
    letter-spacing: 0.2px;
    color: #302300;
}

// inspired by lattes styles https://github.com/moozthemes/lattes/blob/master/css/style.css //
